soap_wsdl_project/src/main/resources/api/Maths.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.example.org/Maths/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Maths" targetNamespace="http://www.example.org/Maths/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.example.org/Maths/">
      <xsd:element name="Add" type="tns:Type">

      </xsd:element>
      <xsd:element name="AddResponse" type="tns:ResponseType">

      </xsd:element>

      <xsd:complexType name="Type">
      	<xsd:sequence>
      		<xsd:element name="Num1" type="xsd:int"></xsd:element>
      		<xsd:element name="Num2" type="xsd:int"></xsd:element>
      	</xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="ResponseType">
      	<xsd:sequence>
      		<xsd:element name="Sum" type="xsd:int"></xsd:element>
      	</xsd:sequence>
      </xsd:complexType>
      <xsd:element name="Multiply" type="tns:MulType">

      </xsd:element>
      <xsd:element name="MultiplyResponse" type="tns:MulResponseType">

      </xsd:element>

      <xsd:complexType name="MulType">
      	<xsd:sequence>
      		<xsd:element name="num1" type="xsd:int"></xsd:element>
      		<xsd:element name="num2" type="xsd:int"></xsd:element>
      	</xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="MulResponseType">
      	<xsd:sequence>
      		<xsd:element name="result" type="xsd:int"></xsd:element>
      	</xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="AddRequest">
    <wsdl:part element="tns:Add" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="AddResponse">
    <wsdl:part element="tns:AddResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="MultiplyRequest">
  	<wsdl:part name="parameters" element="tns:Multiply"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="MultiplyResponse">
  	<wsdl:part name="parameters" element="tns:MultiplyResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:portType name="Maths">
    <wsdl:operation name="Add">
      <wsdl:input message="tns:AddRequest"/>
      <wsdl:output message="tns:AddResponse"/>
    </wsdl:operation>
    <wsdl:operation name="Multiply">
    	<wsdl:input message="tns:MultiplyRequest"></wsdl:input>
    	<wsdl:output message="tns:MultiplyResponse"></wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MathsSOAP" type="tns:Maths">
  	<soap:binding style="document"
  		transport="http://schemas.xmlsoap.org/soap/http" />
  	<wsdl:operation name="Add">
  		<soap:operation soapAction="http://www.example.org/Maths/Add" />
  		<wsdl:input>
  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>
  			<soap:body use="literal" />
  		</wsdl:output>
  	</wsdl:operation>
  	<wsdl:operation name="Multiply">
  		<soap:operation
  			soapAction="http://www.example.org/Maths/Multiply" />
  		<wsdl:input>
  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>
  			<soap:body use="literal" />
  		</wsdl:output>
  	</wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Maths">
    <wsdl:port binding="tns:MathsSOAP" name="MathsSOAP">
      <soap:address location="http://localhost:80/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
